@charset "UTF-8";

// ***************
// ** VARIABLES **
// ***************

// Media Query Screen Sizes
$tablet-size: "screen and (min-width: 768px)";
$desktop-size: "screen and (min-width: 1440px)";

// Colors
$light-blue: #3ee9e5;
$medium-blue: #093f68;
$dark-blue: #080c20;
$gray: #777f98;
$white: #ffffff;
$red-error: #ff2965;

@mixin form-element {
    border: none;
    border-radius: 24px;
    width: 100%;
    padding: 12px 18px;
    font: inherit;
    font-weight: 800;
}

// ************
// ** STYLES **
// ************

/* HTML Styles */
html {
    box-sizing: border-box;
    font-size: 15px;
}

html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: inherit;
}

body {
    background-color: $dark-blue;
    font-family: "Manrope", sans-serif;
    text-align: center;
}

header {
    margin: 40px 0 65.5px;

    @media #{$tablet-size} {
        margin: 48px 39px 77px;
        text-align: left;
    }

    @media #{$desktop-size} {
        margin: 81px 0 114px 165px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
}

p {
    color: $gray;

    @media #{$desktop-size} {
        line-height: 1.5em;
    }
}

form {
    input {
        @include form-element();
    }

    input[type="email"] {
        background-color: $medium-blue;
        color: $gray;
        margin-bottom: 24px;
    }

    input[type="email"]:active,
    input[type="email"]:focus {
        color: $white;
    }

    button {
        @include form-element();
        background-color: $light-blue;
        color: $medium-blue;
    }

    button:hover,
    button:active {
        background-color: $dark-blue;
        color: $white;
        border: 2px solid $light-blue;
        transition: ease;
    }

    button:active {
        position: relative;
        top: 1px;
    }
}
/* Custom Class Styles */

// MAIN CONTENT

.main-content {
    padding: 0 24px;
    position: relative;
    overflow: hidden;

    ::after {
        background: url(../assets/illustration-hero-left.svg) center left no-repeat;
    }

    .wrapper {
        width: 410px;
        position: relative;
        left: -24px;
        margin: auto;

        img {
            width: 100%;
        }
    }

    @media #{$tablet-size} {
        padding: 0 0;

        .wrapper {
            display: none;
        }
    }
}

.intro-container {

    @media #{$tablet-size} {
        background: url(../assets/illustration-hero-left.svg) center left -169px no-repeat,
                    url(../assets/illustration-hero-right.svg) center right -171px no-repeat;
        background-size: contain;
        height: 357px;
        // width: 730px;
    }

    @media #{$desktop-size} {
        background: url(../assets/illustration-hero-left.svg) center left -53px no-repeat,
                    url(../assets/illustration-hero-right.svg) center right -60px no-repeat;
        // width: 730px;
        height: 459px;
        margin-bottom: 272px;
    }

    .intro-content {
        margin-bottom: 144px;

        h1 {
            padding: 0 1.6em;

            span {
                color: $light-blue;
            }
        }

        .icon-scroll {
            margin-top: 32px;
        }

        @media #{$tablet-size} {
            background: url(../assets/bg-hero-squiggle.svg) top center no-repeat;
            background-size: contain;
            width: 457px;
            margin: 0 auto 109px;

            h1 {
                line-height: 1.25;
            }
        }

        @media #{$desktop-size} {
            width: 730px;

            h1 {
                padding: 88.19px 2em 0;
                line-height: 1.25;
            }

            p {
                padding: 0 6em;
                line-height: 1.75;
            }

            .icon-scroll {
                margin-top: 64px;
            }
        }
    }
}

// FIX THIS SOLUTION - TOO MUCH OF A HACK
@media screen and (min-width: 458px) {
    .main-content .wrapper {
        left: 0;
    }
}

// PITCHES SECTION

.pitches-container {
    margin-bottom: 144px;

    @media #{$tablet-size} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 573px;
        margin: 0 auto 79px;

        .pitch-container-one,
        .pitch-container-three {
            margin-left: auto;
        }
    }

    @media #{$desktop-size} {
        flex-direction: row;
        gap: 10px;
        width: 1110px;
        height: 383px;
        margin-bottom: 202px;

        .pitch-container-two,
        .pitch-container-four {
            align-self: flex-end;
        }
    }

    .pitch-container {
        margin-bottom: 56px;

        .img-wrapper {
            width: 120px;
            height: 124px;
            background-color: $medium-blue;
            border-radius: 3em;
            padding: 2em;
            margin: auto;

            img {
                width: 100%;
            }

            .passions-img {
                position: relative;
                top: -2px;
                left: 6px;
            }

            .work-anywhere-img {
                position: relative;
                top: 12px;
            }

            @media #{$desktop-size} {
                width: 160px;
                height: 164px;

                h3 {
                    font-size: 18px;
                }

                .passions-img {
                    width: 88px;
                    height: 106px;
                    left: 12px;
                }

                .freedom-img {
                    position: relative;
                    width: 74px;
                    height: 89px;
                    top: 12px;
                    left: 14px;
                }

                .lifestyle-img {
                    position: relative;
                    width: 80px;
                    height: 94px;
                    top: 6px;
                    left: 8px;
                }
            }
        }

        @media #{$tablet-size} {
            width: 90%;
            text-align: left;
            margin-bottom: 40px;

            .img-wrapper {
                float: left;
                margin-right: 55px;
            }
        }

        @media #{$desktop-size} {
            margin-bottom: 0;

            h3 {
                clear: left;
                padding-top: 48px;
            }

            p {
                padding-right: 1em;
            }
        }
    }
}

// CARD SECTION

.pricing-plan-section {
    margin-bottom: 58px;

    @media #{$tablet-size} {
        width: 75%;
        margin: 0 auto 79px;

        h2 {
            margin-bottom: 27px;
        }
    }

    @media #{$desktop-size} {
        width: 540px;
        margin-bottom: 105px;
    }
}

.price-plan-cards {
    text-align: left;

    @media #{$desktop-size} {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .price-plan-card {
        position: relative;
        border-radius: 8px;
        margin: 0 auto;
        padding: 1em 2em;

        @media #{$tablet-size} {
            width: 60%;
            padding: 48px 38px;
        }

        @media #{$desktop-size} {
            margin-left: 0;
            margin-right: 2em;
            width: 445px;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: inherit;
            transform: translateY(-50%);
        }

        p {
            font-weight: 200;
        }

        .card-features {
            h3 {
                font-size: 40px;
                font-weight: 800;
                margin: 0;

                span {
                    position: relative;
                    font-weight: 200;
                    font-size: 15px;
                    opacity: 60%;
                    bottom: 0.5em;
                }
            }
        }

        ul {
            padding: inherit;
            list-style: none;
            line-height: 2.5em;
        }
    }

    .free-card {
        background-color: $medium-blue;
        margin-bottom: 64.5px;

        @media #{$desktop-size} {
            margin-bottom: 0;
            padding: 48px 38px;
        }

        h3,
        p,
        li {
            color: $white;
        }

        p {
            opacity: 60%;
        }

        ul li::before {
            content: url("../assets/icon-check - Copy.svg");
            padding-right: 1em;
        }
    }

    .paid-card {
        background-color: $light-blue;

        @media #{$desktop-size} {
            padding: 60px 38px;
        }

        h3,
        li {
            color: $dark-blue;
        }

        ul li::before {
            content: url("../assets/icon-check.svg");
            padding-right: 1em;
        }
    }
}

.signup-container {
    background: url("../assets/bg-footer-squiggle.svg") top center no-repeat;
    background-size: contain;
    margin-top: 145px;
    margin-bottom: 117px;

    form {
        padding: 0 2em;
    }

    @media #{$tablet-size} {
        .email {
            width: 320px;
            margin-right: 16px;
        }

        .submit {
            width: 140px;
        }
    }

    @media #{$desktop-size} {
        margin-top: 203px;
        height: 228px;
    }

    h2 {
        padding: 0 2.25em;
        padding-bottom: 2em;

        @media #{$tablet-size} {
            margin-bottom: 29px;
        }

        @media #{$desktop-size} {
            padding: 52px 0 42px;
            margin: 0;
        }
    }
}

h1 {
    @media #{$desktop-size} {
        font-size: 3.2em;
    }
}

h2 {
    font-size: 24px;

    @media #{$desktop-size} {
        font-size: 32px;
    }
}

h3 {
    font-size: 1.2em;
}
