@charset "UTF-8";

// ***************
// ** VARIABLES **
// ***************

// Media Query Screen Sizes
$tablet-size: "screen and (min-width: 768px)";
$desktop-size: "screen and (min-width: 1440px)";

// Colors
$light-blue: #3ee9e5;
$medium-blue: #093f68;
$dark-blue: #080c20;
$gray: #777f98;
$white: #ffffff;
$red-error: #ff2965;

@mixin form-element {
    border: none;
    border-radius: 24px;
    width: 100%;
    padding: 12px 18px;
    font: inherit;
    font-weight: 800;
}

// ************
// ** STYLES **
// ************

/* HTML Styles */
html {
    box-sizing: border-box;
    font-size: 15px;
}

html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: inherit;
}

body {
    background-color: $dark-blue;
    font-family: "Manrope", sans-serif;
    text-align: center;
}

header {
    margin: 40px 0 65.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
}

p {
    color: $gray;
}

form {
    input {
        @include form-element();
    }

    input[type="email"] {
        background-color: $medium-blue;
        color: $gray;
        margin-bottom: 24px;
    }

    input[type="email"]:active,
    input[type="email"]:focus {
        color: $white;
    }

    button {
        @include form-element();
        background-color: $light-blue;
        color: $medium-blue;
    }

    button:hover,
    button:active {
        background-color: $dark-blue;
        color: $white;
        border: 2px solid $light-blue;
        transition: ease;
    }

    button:active {
        position: relative;
        top: 1px;
    }
}

/* Flexbox Styles */

/* Custom Class Styles */

// MAIN CONTENT

.main-content {
    padding: 0 24px;
    position: relative;
    overflow: hidden;

    .wrapper {
        width: 410px;
        position: relative;
        left: -24px;
        margin: auto;

        img {
            width: 100%;
        }
    }

    h1:first-child {
        padding: 0 1.6em;

        span {
            color: $light-blue;
        }
    }

    .icon-scroll {
        margin: 32px 0 144px;
    }
}

@media screen and (min-width: 458px) {
    .main-content .wrapper {
        left: 0;
    }
}

// PITCHES SECTION

.pitches-container {
    margin-bottom: 144px;
}

.pitch-container {
    margin-bottom: 56px;

    .img-wrapper {
        width: 120px;
        height: 124px;
        background-color: $medium-blue;
        border-radius: 3em;
        padding: 2em;
        margin: auto;

        img {
            width: 100%;
        }

        .passions-img {
            position: relative;
            top: -2px;
            left: 6px;
        }

        .work-anywhere-img {
            position: relative;
            top: 12px;
        }
    }
}

// CARD SECTION

.pricing-plan-section {
    margin-bottom: 58px;
}

.price-plan-cards {
    text-align: left;

    .price-plan-card {
        position: relative;
        border-radius: 8px;
        margin: 0;
        padding: 1em 2em;

        img {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: inherit;
            transform: translateY(-50%);
        }

        p {
            font-weight: 200;
        }

        .card-features {
            h3 {
                font-size: 40px;
                font-weight: 800;
                margin: 0;

                span {
                    position: relative;
                    font-weight: 200;
                    font-size: 15px;
                    opacity: 60%;
                    bottom: 0.5em;
                }
            }
        }

        ul {
            padding: inherit;
            list-style: none;
            line-height: 2.5em;
            // list-style-image: url("../assets/icon-check.svg");
        }
    }

    .free-card {
        background-color: $medium-blue;
        margin-bottom: 64.5px;

        .card-description {
            margin-top: 49px;
        }

        h3,
        p,
        li {
            color: $white;
        }

        p {
            opacity: 60%;
        }

        ul li::before {
            content: url("../assets/icon-check - Copy.svg");
            padding-right: 1em;
        }
    }

    .paid-card {
        background-color: $light-blue;

        .card-description {
            margin-top: 60px;
        }

        h3,
        li {
            color: $dark-blue;
        }

        ul li::before {
            content: url("../assets/icon-check.svg");
            padding-right: 1em;
        }
    }
}

.signup-container {
    background: url("../assets/bg-footer-squiggle.svg") top center no-repeat;
    background-size: contain;
    margin-top: 145px;
    margin-bottom: 200px;

    h2 {
        padding: 0 2em;
        margin-bottom: 2em;
        font-size: 24px;
    }
}
