/* HTML Styles */
html {
  box-sizing: border-box;
  font-size: 15px;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #080c20;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

header {
  margin: 40px 0 65.5px;
}
@media screen and (min-width: 768px) {
  header {
    margin: 48px 39px 77px;
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  header {
    margin: 81px 0 114px 165px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p {
  color: #777f98;
}
@media screen and (min-width: 1440px) {
  p {
    line-height: 1.5em;
  }
}

form input {
  border: none;
  border-radius: 24px;
  width: 100%;
  padding: 12px 18px;
  font: inherit;
  font-weight: 800;
}
form input[type="email"] {
  background-color: #093f68;
  color: #777f98;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  form input[type="email"] {
    width: 320px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  form input[type="submit"] {
    width: 140px;
  }
}
form input[type="email"]:active,
form input[type="email"]:focus {
  color: #ffffff;
}
form button {
  border: none;
  border-radius: 24px;
  width: 100%;
  padding: 12px 18px;
  font: inherit;
  font-weight: 800;
  background-color: #3ee9e5;
  color: #093f68;
}
form button:hover,
form button:active {
  background-color: #080c20;
  color: #ffffff;
  border: 2px solid #3ee9e5;
  transition: ease;
}
form button:active {
  position: relative;
  top: 1px;
}

/* Custom Class Styles */
.main-content {
  padding: 0 24px;
  position: relative;
  overflow: hidden;
}
.main-content ::after {
  background: url(../assets/illustration-hero-left.svg) center left no-repeat;
}
@media screen and (min-width: 768px) {
  .main-content {
    padding: 0 0;
  }
}

.intro-container {
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .intro-container {
    background: url(../assets/illustration-hero-left.svg) center left -169px no-repeat, url(../assets/illustration-hero-right.svg) center right -171px no-repeat;
    background-size: contain;
    height: 357px;
  }
  .intro-container .wrapper {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .intro-container {
    background: url(../assets/illustration-hero-left.svg) center left -53px no-repeat, url(../assets/illustration-hero-right.svg) center right -60px no-repeat;
    height: 459px;
    margin-bottom: 272px;
  }
}
.intro-container .intro-content .wrapper {
  width: 410px;
  position: relative;
  left: -24px;
  margin: auto;
}
.intro-container .intro-content .wrapper img {
  display: block;
  width: 100%;
}
.intro-container .intro-content h1 {
  padding: 0 1.6em;
  margin: 47.5px 0 0;
}
.intro-container .intro-content h1 span {
  color: #3ee9e5;
}
.intro-container .intro-content p {
  font-weight: 200;
  margin: 23px 0 32px;
}
@media screen and (min-width: 768px) {
  .intro-container .intro-content {
    background: url(../assets/bg-hero-squiggle.svg) top center no-repeat;
    background-size: contain;
    width: 457px;
    margin: auto;
    position: relative;
    top: 51px;
  }
  .intro-container .intro-content h1 {
    line-height: 1.25;
  }
}
@media screen and (min-width: 1440px) {
  .intro-container .intro-content {
    width: 730px;
  }
  .intro-container .intro-content h1 {
    padding: 88.19px 2em 0;
    line-height: 1.25;
  }
  .intro-container .intro-content p {
    padding: 0 6em;
    line-height: 1.75;
  }
  .intro-container .intro-content .icon-scroll {
    margin-top: 64px;
  }
}

@media screen and (min-width: 458px) {
  .main-content .wrapper {
    left: 0;
  }
}
.pitches-container {
  margin-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .pitches-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 573px;
    margin: 0 auto 79px;
  }
  .pitches-container .pitch-container-one,
  .pitches-container .pitch-container-three {
    margin-left: auto;
  }
}
@media screen and (min-width: 1440px) {
  .pitches-container {
    flex-direction: row;
    gap: 10px;
    width: 1110px;
    height: 383px;
    margin-bottom: 202px;
  }
  .pitches-container .pitch-container-two,
  .pitches-container .pitch-container-four {
    align-self: flex-end;
  }
}
.pitches-container .pitch-container {
  margin-bottom: 56px;
}
.pitches-container .pitch-container .img-wrapper {
  width: 120px;
  height: 124px;
  background-color: #093f68;
  border-radius: 3em;
  padding: 2em;
  margin: auto;
}
.pitches-container .pitch-container .img-wrapper img {
  width: 100%;
}
.pitches-container .pitch-container .img-wrapper .passions-img {
  position: relative;
  top: -2px;
  left: 6px;
}
.pitches-container .pitch-container .img-wrapper .work-anywhere-img {
  position: relative;
  top: 12px;
}
.pitches-container .pitch-container .img-wrapper h3 {
  margin: 32px 0 11px;
}
.pitches-container .pitch-container .img-wrapper p {
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .pitches-container .pitch-container .img-wrapper {
    width: 160px;
    height: 164px;
  }
  .pitches-container .pitch-container .img-wrapper h3 {
    font-size: 18px;
  }
  .pitches-container .pitch-container .img-wrapper .passions-img {
    width: 88px;
    height: 106px;
    left: 12px;
  }
  .pitches-container .pitch-container .img-wrapper .freedom-img {
    position: relative;
    width: 74px;
    height: 89px;
    top: 12px;
    left: 14px;
  }
  .pitches-container .pitch-container .img-wrapper .lifestyle-img {
    position: relative;
    width: 80px;
    height: 94px;
    top: 6px;
    left: 8px;
  }
}
@media screen and (min-width: 768px) {
  .pitches-container .pitch-container {
    width: 90%;
    text-align: left;
    margin-bottom: 40px;
  }
  .pitches-container .pitch-container .img-wrapper {
    float: left;
    margin-right: 55px;
  }
}
@media screen and (min-width: 1440px) {
  .pitches-container .pitch-container {
    margin-bottom: 0;
  }
  .pitches-container .pitch-container h3 {
    clear: left;
    padding-top: 48px;
  }
  .pitches-container .pitch-container p {
    padding-right: 1em;
  }
}

.pricing-plan-section {
  margin-bottom: 58px;
}
.pricing-plan-section h2 {
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .pricing-plan-section {
    width: 75%;
    margin: 0 auto 79px;
  }
}
@media screen and (min-width: 1440px) {
  .pricing-plan-section {
    width: 540px;
    margin-bottom: 105px;
  }
}

.price-plan-cards {
  text-align: left;
}
@media screen and (min-width: 1440px) {
  .price-plan-cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.price-plan-cards .price-plan-card {
  position: relative;
  border-radius: 8px;
  margin: 0 auto;
  padding: 1em 2em;
}
@media screen and (min-width: 768px) {
  .price-plan-cards .price-plan-card {
    width: 60%;
    padding: 48px 38px;
  }
}
@media screen and (min-width: 1440px) {
  .price-plan-cards .price-plan-card {
    margin-left: 0;
    margin-right: 2em;
    width: 445px;
  }
}
.price-plan-cards .price-plan-card img {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: inherit;
  transform: translateY(-50%);
}
.price-plan-cards .price-plan-card p {
  font-weight: 200;
}
.price-plan-cards .price-plan-card .card-features h3 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}
.price-plan-cards .price-plan-card .card-features h3 span {
  position: relative;
  font-weight: 200;
  font-size: 15px;
  opacity: 60%;
  bottom: 0.5em;
}
.price-plan-cards .price-plan-card ul {
  padding: inherit;
  list-style: none;
  line-height: 2.5em;
}
.price-plan-cards .free-card {
  background-color: #093f68;
  margin-bottom: 64.5px;
  padding-top: 49px;
}
@media screen and (min-width: 1440px) {
  .price-plan-cards .free-card {
    margin-bottom: 0;
    padding: 48px 38px;
  }
}
.price-plan-cards .free-card h3,
.price-plan-cards .free-card p,
.price-plan-cards .free-card li {
  color: #ffffff;
}
.price-plan-cards .free-card p {
  opacity: 60%;
}
.price-plan-cards .free-card ul li::before {
  content: url("../assets/icon-check - Copy.svg");
  padding-right: 1em;
}
.price-plan-cards .paid-card {
  background-color: #3ee9e5;
  padding-top: 61px;
}
@media screen and (min-width: 1440px) {
  .price-plan-cards .paid-card {
    padding: 60px 38px;
  }
}
.price-plan-cards .paid-card h3,
.price-plan-cards .paid-card p,
.price-plan-cards .paid-card li {
  color: #080c20;
}
.price-plan-cards .paid-card ul li::before {
  content: url("../assets/icon-check.svg");
  padding-right: 1em;
}

.signup-container {
  background: url("../assets/bg-footer-squiggle.svg") top center no-repeat;
  background-size: contain;
  padding-bottom: 164px;
}
.signup-container form {
  padding: 0 2em;
}
@media screen and (min-width: 768px) {
  .signup-container .email {
    width: 320px;
    margin-right: 16px;
  }
  .signup-container .submit {
    width: 140px;
  }
}
@media screen and (min-width: 1440px) {
  .signup-container {
    margin-top: 203px;
    height: 228px;
  }
}
.signup-container h2 {
  margin: 144px 0 31px;
  padding: 0 2.25em;
}
@media screen and (min-width: 768px) {
  .signup-container h2 {
    margin-bottom: 29px;
  }
}
@media screen and (min-width: 1440px) {
  .signup-container h2 {
    padding: 52px 0 42px;
    margin: 0;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 3.2em;
  }
}

h2 {
  font-size: 24px;
}
@media screen and (min-width: 1440px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-size: 1.2em;
}

/*# sourceMappingURL=styles.css.map */
