/* HTML Styles */
html {
  box-sizing: border-box;
  font-size: 15px;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #080c20;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

header {
  margin: 40px 0 65.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

p {
  color: #777f98;
}

form input {
  border: none;
  border-radius: 24px;
  width: 100%;
  padding: 12px 18px;
  font: inherit;
  font-weight: 800;
}
form input[type="email"] {
  background-color: #093f68;
  color: #777f98;
  margin-bottom: 24px;
}
form input[type="email"]:active,
form input[type="email"]:focus {
  color: #ffffff;
}
form button {
  border: none;
  border-radius: 24px;
  width: 100%;
  padding: 12px 18px;
  font: inherit;
  font-weight: 800;
  background-color: #3ee9e5;
  color: #093f68;
}
form button:hover,
form button:active {
  background-color: #080c20;
  color: #ffffff;
  border: 2px solid #3ee9e5;
  transition: ease;
}
form button:active {
  position: relative;
  top: 1px;
}

/* Flexbox Styles */
/* Custom Class Styles */
.main-content {
  padding: 0 24px;
  position: relative;
  overflow: hidden;
}
.main-content .wrapper {
  width: 410px;
  position: relative;
  left: -24px;
  margin: auto;
}
.main-content .wrapper img {
  width: 100%;
}
.main-content h1:first-child {
  padding: 0 1.6em;
}
.main-content h1:first-child span {
  color: #3ee9e5;
}
.main-content .icon-scroll {
  margin: 32px 0 144px;
}

@media screen and (min-width: 458px) {
  .main-content .wrapper {
    left: 0;
  }
}
.pitches-container {
  margin-bottom: 144px;
}

.pitch-container {
  margin-bottom: 56px;
}
.pitch-container .img-wrapper {
  width: 120px;
  height: 124px;
  background-color: #093f68;
  border-radius: 3em;
  padding: 2em;
  margin: auto;
}
.pitch-container .img-wrapper img {
  width: 100%;
}
.pitch-container .img-wrapper .passions-img {
  position: relative;
  top: -2px;
  left: 6px;
}
.pitch-container .img-wrapper .work-anywhere-img {
  position: relative;
  top: 12px;
}

.pricing-plan-section {
  margin-bottom: 58px;
}

.price-plan-cards {
  text-align: left;
}
.price-plan-cards .price-plan-card {
  position: relative;
  border-radius: 8px;
  margin: 0;
  padding: 1em 2em;
}
.price-plan-cards .price-plan-card img {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: inherit;
  transform: translateY(-50%);
}
.price-plan-cards .price-plan-card p {
  font-weight: 200;
}
.price-plan-cards .price-plan-card .card-features h3 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
}
.price-plan-cards .price-plan-card .card-features h3 span {
  position: relative;
  font-weight: 200;
  font-size: 15px;
  opacity: 60%;
  bottom: 0.5em;
}
.price-plan-cards .price-plan-card ul {
  padding: inherit;
  list-style: none;
  line-height: 2.5em;
}
.price-plan-cards .free-card {
  background-color: #093f68;
  margin-bottom: 64.5px;
}
.price-plan-cards .free-card .card-description {
  margin-top: 49px;
}
.price-plan-cards .free-card h3,
.price-plan-cards .free-card p,
.price-plan-cards .free-card li {
  color: #ffffff;
}
.price-plan-cards .free-card p {
  opacity: 60%;
}
.price-plan-cards .free-card ul li::before {
  content: url("../assets/icon-check - Copy.svg");
  padding-right: 1em;
}
.price-plan-cards .paid-card {
  background-color: #3ee9e5;
}
.price-plan-cards .paid-card .card-description {
  margin-top: 60px;
}
.price-plan-cards .paid-card h3,
.price-plan-cards .paid-card li {
  color: #080c20;
}
.price-plan-cards .paid-card ul li::before {
  content: url("../assets/icon-check.svg");
  padding-right: 1em;
}

.signup-container {
  background: url("../assets/bg-footer-squiggle.svg") top center no-repeat;
  background-size: contain;
  margin-top: 145px;
  margin-bottom: 200px;
}
.signup-container h2 {
  padding: 0 2em;
  margin-bottom: 2em;
  font-size: 24px;
}

/*# sourceMappingURL=styles.css.map */
